
@import url('../../Plugin/FontFamily/Helvetical/FontFace.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

a {
    color: #379ACF;
    text-decoration: none;
    cursor: pointer;
}

body {
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    color: #404040;
}
#mask {
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 999;
}

#unmask {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 999;
}
/*overide css container-fluid*/
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
/*overide css row-fluid*/
.row-fluid [class*="span"] {
    margin: 0 !important;
}

.overTable {
    margin-bottom: 0 !important;
}

.row-fluid .spanLeft2 {
    background-color: #C8D9ED;
}

table.thNormal th {
    font-weight: normal;
}

.row-fluid .searchBar {
    border-top: 1px solid #d1d0d1;
    border-bottom: 1px solid #d1d0d1;
}
/*overide css btn*/
.btn {
    line-height: 17px !important;
}
/* Large desktop */
@media (min-width: 1200px) {
    .row-fluid .spanLeft2 {
        width: 160px;
        min-height: 628px;
        margin-top: 45px !important;
        position: fixed;
    }

    .row-fluid .topbarFix {
        position: fixed;
    }

    .row-fluid .spanRight10 {
        margin-left: 160px !important;
        margin-top: 40px !important;
        width: 87.2% !important;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
    .row-fluid .spanLeft2 {
        width: 160px;
        min-height: 628px;
        margin-top: 45px !important;
        position: fixed;
    }

    .row-fluid .topbarFix {
        position: fixed;
    }

    .row-fluid .spanRight10 {
        width: 78%;
        margin-left: 160px !important;
        margin-top: 40px !important;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .row-fluid .spanLeft2 {
        width: 100%;
    }

    .row-fluid .spanContentMenu {
        margin-top: -15px !important;
    }

    .row-fluid span.title_navigator {
        padding-top: 20px;
        background: url("Icon/arrow.png") no-repeat scroll 10px -18px transparent;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .row-fluid .spanLeft2 {
        width: 100%;
    }

    .row-fluid .spanContentMenu {
        margin-top: -15px !important;
    }

    .row-fluid span.title_navigator {
        padding-top: 20px;
        background: url("Icon/arrow.png") no-repeat scroll 10px -18px transparent;
    }
}

section.Rheader {
    background: url("Icon/texturebg.png") repeat scroll 0 0 #404040;
    padding: 30px 10px 11px;
    position: relative;
    border-bottom: 3px solid #272727;
    border-top: 1px solid #444444;
}

.menuLeft {
    margin-top: 5px;
}

    .menuLeft li {
        padding-top: 5px;
    }

        .menuLeft li a {
            color: #404040;
            font-size: 13px;
            font-weight: normal;
            display: block;
            text-decoration: none;
            padding-top: 5px;
            padding-bottom: 5px;
        }

            .menuLeft li a:hover {
                background: #fff;
                -moz-transition: all 0.4s ease 0s;
                -o-transition: all 0.4s ease 0s;
                -webkit-transition: all 0.4s ease 0s;
                transition: all 0.4s ease 0s;
            }

            .menuLeft li a.home {
                background-image: url(Icon/home.png);
                background-repeat: no-repeat;
                background-position: 15px center;
                padding-left: 40px;
            }

            .menuLeft li a.vacancy {
                background-image: url(Icon/buttons.png);
                background-repeat: no-repeat;
                background-position: 15px center;
                padding-left: 40px;
            }

            .menuLeft li a.interviewer {
                background-image: url(Icon/people.png);
                background-repeat: no-repeat;
                background-position: 15px center;
                padding-left: 40px;
            }

            .menuLeft li a.active {
                background-color: #fff;
            }

span.title_navigator {
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-left: 25px;
    margin-top: 15px;
    background: url("Icon/arrow.png") no-repeat scroll 10px -37px transparent;
}

div h3.titleModule {
    color: #646464;
    font-size: 19px;
    font-weight: normal;
    display: block;
}
